#root{
    display: flex;
    justify-content: space-around;
}

.a{
    text-align: center;
    padding-top: 100%;
    justify-content: space-around;
}
.b{
    
    display: flex;
    flex-direction: row;
}
#c{
    background-color: green;
    box-sizing: border-box;
}
#d{
    background-color: red;
    box-sizing: content-box;
}
#e{
    background-color: blue;
    box-sizing: content-box;
}
