.b{
    border: 2px solid red;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    shape-margin: 2px ;
    border-style: dashed;


}
.a{
    display: flex;
    justify-content: space-evenly;
}