.dd ul{
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center; 
}
img{
    height: 50px;
    width: 90px;
    margin: 10px;
 }
 
 .dd ul li {
    list-style: none;
 }
 .aa{
    display: flex;
    background-color: lightblue;

 justify-content: space-between;
    align-items: center;
    height: 75px;
    
    color: black;
    margin: auto;
 }
 .dd ul li button{
   background-color: red;
   font-weight: 400;
 }

 .dd ul li select option{
   display: inline-block;
   width: auto;
   position: relative;
   letter-spacing: 0;
 }